ErrorProcessing/obj/
explosive_homeless_bot/bin/
.json
explosive_homeless_bot/obj/
explosive_homeless_bot_2/bin/
explosive_homeless_bot_2/obj/
LearnProject/obj/
LearnProject/bin/
LearnProject/.vs/
ErrorProcessing/bin/
HTTPS/obj/
HTTPS/bin/
Services.ConfigureServices/obj/
Services.CreateOwnServices/obj/
Services.CreateOwnServices/bin/
Services.ConfigureServices/bin/
Services.PassDependencies/bin/
Services.PassDependencies/obj/
Services.LifeCircle/obj/
Services.LifeCircle/bin/
