<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RazorPages на Metanit.com</title>
</head>
<body>
    <div>
        <h1>Razor Pages на Metanit.com</h1>
        @RenderBody()
    </div>
    <div>© 2019 - Metanit.com</div>
</body>
</html>
