<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="Message" xsi:type="ColoredConsole" layout="${longdate} |${level:uppercase=true}|${message}">
      <highlight-row condition="true" foregroundColor="green"/>
    </target>
    <target name="Responce" xsi:type="ColoredConsole" layout="${longdate} |${level:uppercase=true}|${message}">
      <highlight-row condition="true" foregroundColor="blue"/>
    </target>
    <target name="File" xsi:type="File" fileName="bomjLogs.txt" layout="${longdate} |${level:uppercase=true}|${message}">
    </target>
  </targets>

  <rules>
    <logger name="*" levels="Info" writeTo="Message, File" />
    <logger name="*" minlevel="Warn" writeTo="Responce, File" />
  </rules>
</nlog>